:global(*) {
  box-sizing: border-box;
}

:global(*.no-select) {
  user-select: none;
}

:global(html) {
  font-size: 1px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

:global(body) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 16rem;
  color: #285151;
  background: #f2fffe;
  cursor: default;
}

:global(a) {
  color: #ed8b82;
  text-decoration: none !important;
  transition: all 250ms;
}

:global(a:active) {
  color: #ed8b82;
}

:global(a:hover) {
  color: #f0a098;
}

:global(.viewport) {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:global(.container){
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

:global(.scrollarea-content) {
  min-width: 100%;
  float: left;
}

:global(.scrollarea-content:after) {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
